a{
  color: #ffffff;
}
*{
  transition: 1s;
}
.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(76, 135, 184);
    padding: 0 10%;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }

  .headerTablet {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(76, 135, 184);
    padding: 0 10%;
  }
  
  .logoTablet {
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
  }
  
  .headerTablet ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .headerTablet li {
    margin-left: 3rem;
    font-size: 1rem;
  }
  
  .headerTablet a {
    text-decoration: none;
    font-size: 1.3rem;
    
  }
  
  .headerTablet a:hover,
  .headerTablet a:active,
  .headerTablet a.active {
    color: white;
  }

  .headerPortrait {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(76, 135, 184);
    padding: 0 10%;
  }
  
  .logoPortrait {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }
  
  .headerPortrait ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .headerPortrait li {
    margin-left: 3rem;
    font-size: .8rem;
  }
  
  .headerPortrait a {
    text-decoration: none;
    font-size: 1.1rem;
    
  }
  
  .headerPortrait a:hover,
  .headerPortrait a:active,
  .headerPortrait a.active {
    color: white;
  }

  .headerTiny {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(76, 135, 184);
    padding: 0 10%;
  }
  
  .logoTiny {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }
  
  .headerTiny ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .headerTiny li {
    margin-left: .3rem;
    font-size: .3rem;
  }
  
  .headerTiny a {
    text-decoration: none;
    font-size: 1rem;
    
  }
  
  .headerTiny a:hover,
  .headerTiny a:active,
  .headerTiny a.active {
    color: white;
  }

  .headerMini {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(76, 135, 184);
    
  }
  
  .logoMini {
    font-size: .9rem;
    color: white;
    font-weight: bold;
  }
  
  .headerMini ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    
  }
  
  .headerMini li {
    
    font-size: .1rem;
  }
  
  .headerMini a {
    text-decoration: none;
    font-size: .7rem;
    
  }
  
  .headerMini a:hover,
  .headerMini a:active,
  .headerMini a.active {
    color: white;
  }

  /** Dark theme */

  .headerDark {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    padding: 0 10%;
  }
  
  .logoDark {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .headerDark ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .headerDark li {
    margin-left: 3rem;
  }
  
  .headerDark a {
    text-decoration: none;
    font-size: 1.5rem;
    
  }
  
  .headerDark a:hover,
  .headerDark a:active,
  .headerDark a.active {
    color: white;
  }

  .headerTabletDark {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    padding: 0 10%;
  }
  
  .logoTabletDark {
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
  }
  
  .headerTabletDark ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .headerTabletDark li {
    margin-left: 3rem;
    font-size: 1rem;
  }
  
  .headerTabletDark a {
    text-decoration: none;
    font-size: 1.3rem;
    
  }
  
  .headerTabletDark a:hover,
  .headerTabletDark a:active,
  .headerTabletDark a.active {
    color: white;
  }

  .headerPortraitDark {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    padding: 0 10%;
  }
  
  .logoPortraitDark {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }
  
  .headerPortraitDark ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .headerPortraitDark li {
    margin-left: 3rem;
    font-size: .8rem;
  }
  
  .headerPortraitDark a {
    text-decoration: none;
    font-size: 1.1rem;
    
  }
  
  .headerPortraitDark a:hover,
  .headerPortraitDark a:active,
  .headerPortraitDark a.active {
    color: white;
  }

  .headerTinyDark {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    padding: 0 10%;
  }
  
  .logoTinyDark {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }
  
  .headerTinyDark ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .headerTinyDark li {
    margin-left: .3rem;
    font-size: .3rem;
  }
  
  .headerTinyDark a {
    text-decoration: none;
    font-size: 1rem;
    
  }
  
  .headerTinyDark a:hover,
  .headerTinyDark a:active,
  .headerTinyDark a.active {
    color: white;
  }

  .headerMiniDark {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    
  }
  
  .logoMiniDark {
    font-size: .9rem;
    color: white;
    font-weight: bold;
  }
  
  .headerMiniDark ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    
  }
  
  .headerMiniDark li {
    
    font-size: .1rem;
  }
  
  .headerMiniDark a {
    text-decoration: none;
    font-size: .7rem;
    
  }
  
  .headerMiniDark a:hover,
  .headerMiniDark a:active,
  .headerMiniDark a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }

  .themeButton {

    position: 'absolute';
    font-size: .8rem;
    font-weight: 800;
   
    color: black;
    
}


.bottom {
  flex-grow: 1;
  justify-content: 'flex-end';
  
}

:root {
  --dark-bg-color: rgb(0, 0, 0);
}