.columnDark{
    margin: 1%;
    padding: 1%;
    display: flex;
    border:solid darkgreen 2px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 0 darkgreen;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    font-size: 1.1em;
    max-height: 55vh;
    overflow: scroll;
    overflow-y: hidden;
}

.columnLight{
    margin: 1%;
    padding: 1%;
    display: flex;
    border-radius: 20px;
    border:solid darkgreen 2px;
    box-shadow: 5px 5px 0 0 darkgreen;
    flex-direction: column;
    width: 90%;
    font-size: 1.1em;
    font-weight: 600;
    max-height: 55vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.columnLight > ul img{
    max-width: 95%;
    image-rendering: auto;
  
  
}



.columnDark > ul img{
    max-width: 95%;
    image-rendering: auto;
  
}