.flipCard {
    margin: 1%;
    background-color: rgb(243, 214, 47);
    display: flex;
    transition: 1s;
    border-radius: 6px;
    min-width: 300px;
    box-shadow: 10px 0px 0px 0px rgb(126, 4, 106),-10px 0px 0px 0px rgb(126, 4, 106);
  }

.flipCard > h2{
    font-size:1rem;
}

.flipCard > h3{
    font-size:2rem;
}

.flipCardDark {
    border-radius: 6px;
    margin: 1%;
    background-color: rgb(12, 11, 110);
    display: flex;
    transition: 1s;
    box-shadow: 10px 0px 0px 0px rgb(126, 4, 106),-10px 0px 0px 0px rgb(126, 4, 106);
  }

.flipCardDark > h2{
    font-size:1rem;
}

.flipCardDark > h3{
    font-size:2rem;
}

