.flipCard {
    margin: 1%;
    background-color: rgba(243, 214, 47, 0);
    display: flex;
    transition: 1s;
    border-radius: 6px;
    
    
  }

.flipCard > h2{
    font-size:1rem;
}

.flipCard > h3{
    font-size:2rem;
}

.flipCardDark {
    border-radius: 6px;
    margin: 1%;
    background-color: rgba(13, 11, 110, 0);
    display: flex;
    transition: 1s;
    
  }

.flipCardDark > h2{
    font-size:1rem;
}

.flipCardDark > h3{
    font-size:2rem;
}

