.imageSlot{
    
    
    
    flex-direction: column !important;
    transition: 1s;
    width:100% !important;
    height: auto !important;
    object-fit:contain !important;
}

.imageSlot > img{
    
    
    max-width: 600px;
    max-height: 600px;
    margin: 1%;
    padding: 1%;
    flex-direction: column !important;
    transition: 1s;
    width:100% !important;
    height: auto !important;
     object-fit:contain !important;
     
     filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    image-rendering: pixelated;
  }
  
  .imageSlot > img:hover{
    
  }

  .gallery{
    image-rendering: pixelated;
  }

  .imageSlot > .gallery:hover{
    transform:scale(1.4);
  }

  .large{
    min-height:600px;
    min-width: 1200px;
  }

  .medium{
    min-height:300px;
    min-width: 600px;
  }

  .tiny{
    max-width: 600px;
    
  }
  