.neolight {
    background-color: rgb(76, 135, 184);
    border-radius: 6px;
    
    box-shadow: 10px 0px 0px 0px rgb(0, 247, 255),-10px 0px 0px 0px rgb(255, 136, 0);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    align-items: stretch;
    
    flex-direction: column;
    justify-content: center;
    
  
    margin:1%;
    padding: 5%;
    color: white;
    transition: 1s;
  }

.neolight > img{
  
    box-shadow: 15px 0px 4px 1px rgb(1, 5, 255);
  max-width: 600px;
  max-height: 600px;
  margin: 1%;
  padding: 1%;
  flex-direction: column;
  transition: 1s;
  width:100%;
  height: auto;
   object-fit:contain;
   
   filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  
}





.neolight > h2{
  flex-grow: 1;
  font-size: 4em;
  flex-direction: column;
  color: white;
}

.neolight > h1{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  margin: 0%;
  flex-direction: column;
  color: white;
}

.neolight > p{
  font-size: 1.7em;
  
  flex-grow: 1;
  flex-direction: column;
  flex: 0 0 100%;
}

.neolight > h3{
  flex-grow: 1;
  
}

.neolight > a{
  margin: 2%;
  font-size: 5em;
  
  transition: 1s;
}



.neolight:hover{
  background-color: rgb(68, 121, 165);
}

/* Dark Theme Section */

.neodark {
  background-color: rgb(32, 40, 48);
  border-radius: 6px;
  box-shadow: 10px 0px 0px 0px rgb(255, 255, 255),-10px 0px 0px 0px rgb(255, 255, 255);
  
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
  margin:1%;
    padding: 5%;
  color: white;
  flex-direction: column;
  justify-content: center;
  transition:1s;
}

.neodark > img{

box-shadow: 12px 0px 0px 1px rgb(245, 0, 204), 20px 0px 0px 2px rgb(0, 245, 0), 25px 0px 0px 2px rgb(241, 245, 0);
max-width: 600px;
max-height: 600px;
margin: 1%;
padding: 1%;
flex-direction: column;
transition: 1s;
width:100%;
height: auto;
 object-fit:contain;
 
 filter: blur(0);
-webkit-filter: blur(0);
transform: translateZ(0);
-webkit-transform: translateZ(0);

}





.neodark > h2{
flex-grow: 1;
font-size: 4em;
flex-direction: column;
color: white;
}

.neodark > h1{
flex-grow: 1;
font-size: 4em;
margin: 0%;
flex-direction: column;
color: white;
}

.neodark > p{
font-size: 1.7em;

flex-grow: 1;
flex-direction: column;
flex: 0 0 100%;
}

.neodark > h3{
flex-grow: 1;
}

.neodark > a{
margin: 2%;
font-size: 5em;

transition: 1s;
}

.neodark > a:hover{
color:white;
transform:scale(1.1);
}

.neodark:hover{
background-color: rgb(24, 27, 29);
}

.neodark > button{
  font-size: 3rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin:10%;
    padding: 1%;
}




.neodark >button:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.neolight > button{
  font-size: 3rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #c70667;
  color: white;
  border: 1px solid #800040;
  margin:10%;
    padding: 1%;
  
}




.neolight >button:hover {
  background-color: #d32d80;
  border-color: #ffffff;
}