.colHolder{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    text-align: left;
    min-height: 60vh;
    max-height: 60vh;
    overflow: hidden;
    margin: 2%;
    padding: 1%;
    background-color: rgb(193, 225, 193);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}
.colHolder::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.col1{
    min-width: 30%;
    max-width: 45%;
    
}

.col2{
    min-width: 30%;
    max-width: 45%;
    
}

.col3{
    min-width: 30%;
    max-width: 45%;
    
}

.singleColumn{
    width: 100%;
}